body{
  background: #333;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.wrapper span{
  color: #eeeb31;
}