body {
  background: #222;
}

.block {
  position: relative;
  width: 250px;
  height: 250px;
  background: #444;
  margin: 300px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.block__loading{
  height: 20px;
  width: 0px;
  border-radius: 100px;
  position: absolute;
  background: #fff;
  top: -100px;
  left: -125px;
  transition: width 3s;
}

.block p{
  font-size: 30px;
  color: #9ee39e;
  opacity: 0%;
}

.block:hover p{
  opacity: 100%;
  transition: opacity .3s 3s;
}

.block:hover .block__loading{
  width: 500px;
}

.block:hover{
  box-shadow: 0px 0px 20px #9ee39e;
  transition: box-shadow .3s 3s;
}