body{
  background-color: #333;
}

p{
  font-size: 40px;
  color: #fff;
}

.figures{

}

.figures__square{
  position: fixed;
  left: 50%;
  bottom: 0;
  width: calc(50% - 50px);
  margin-right: 50px;
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 100px;
}

.figures__circle{
  position: relative;
  top: -50px;
  left: 0;
  margin-left: 100px;
  background-color: #ff4646;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}